.App {
    margin-top: 20px;
    margin-left: 20px;
}

.task1 {
    min-height: 300px;
}

.task2 {
    margin-top: 100px;
}

.jokes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}